# ignore install directory of pixhawk_toolchain (used to build drone firmware)
/src/pixhawk_toolchain/*
# ignore pptx formatted weekly status updates
*.pptx
# ignore word docs, we only upload pdfs once finalized
*.docx
# ignore DS_Store MacOS files
*.DS_Store
# ignore java compiled .class files
*.class
# ignore IntelliJ specific files
src/josm/josm.iml
src/josm/.idea/*
# ignore Josm build directory
src/josm/build
