<component name="libraryTable">
  <library name="plugin">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/test/data/__files/plugin/dummy_plugin.jar!/" />
      <root url="jar://$PROJECT_DIR$/test/data/__files/plugin/corrupted_plugin.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>